<div class="container">
  <!-- <header>
    <nav class="nav-menu">
        <ul class="nav-list">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
    <button class="toggle-btn" (click)="toggleMenu()">☰</button>
  </header> -->

  <section class="content">

    <div class="sidebar">
      <button (click)="openModal()" class="open-modal">{{ menu.name }}</button>

      <div class="divider-line"></div>

      <div class="search">
        <input type="text" placeholder="Search..." [(ngModel)]="searchTerm">
        <button (click)="search()">Search</button>
      </div>

      <ul class="sidebar-list">
        <li *ngFor="let item of menu.items" >
          <a (click)="toggleSubMenu(item)">{{ item.name }}</a>
          <ul class="sub-menu" *ngIf="item.subMenuOpen">
            <li *ngFor="let subItem of item.subMenu">
              <a href="#">{{ subItem }}</a>
            </li>
          </ul>
        </li>
      </ul>
      <div class="divider-line"></div>
    </div>

  </section>

  <footer></footer>
</div>

<div class="menu-modal">
  <div class="menu-content">
    <ul class="menu-items">
      <li *ngFor="let menu of menus">
        <a class="menu-item" (click)="setMenu(menu)">{{ menu.name }}</a>
      </li>
    </ul>
  </div>
</div>